doctype html
html
  head
    meta(charset="UTF-8")
    title #{name}
body
  script.
    function GetUrlRelativePath(){
      var url = document.location.toString();
      var arrUrl = url.split("//");
      var start = arrUrl[1].indexOf("/");
      var relUrl = arrUrl[1].substring(start);
      if(relUrl.indexOf("?") != -1){
        relUrl = relUrl.split("?")[0];
      }
      return relUrl;
    }

    function getXMLHttpRequest(){
      var xmlhttp;
      if (window.XMLHttpRequest){
        xmlhttp=new XMLHttpRequest();
      }
      else{
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      return xmlhttp;
    }

    function send_json(){
      data = '{"dir":"/proc"}';
      var xmlhttp=getXMLHttpRequest();
      xmlhttp.onreadystatechange=function(){
        if (xmlhttp.readyState==4 && xmlhttp.status==200){
          document.body.innerHTML = "";
          document.write(xmlhttp.responseText);
        }
      }
      url = GetUrlRelativePath()
      xmlhttp.open("POST", url, true);
      xmlhttp.setRequestHeader("Content-type","application/json;charset=UTF-8");
      xmlhttp.send(data);
    }

  h1 #{name}

  p Linux 触发:
  p curl -g '<a href="#{linuxUrl}" target="_blank">#{linuxUrl}</a>'

  br
  p windows 触发:
  p curl -g '<a href="#{windowsUrl}" target="_blank">#{windowsUrl}</a>'


  br
  - if (result !== undefined)
    p 执行结果
    p #{result}